// Relationships list styles
.altis-reusable-block-relationships__relationships_list.components-panel__body {
	&.is-opened {
		padding: 0;
	}

	.components-panel__row {
		margin: 0;
		padding: 10px 16px;
		min-height: 38px;

		&:nth-child( even ) {
			background: #F4F4F4;
		}

		&.tablenav {
			background: #fff;
			border-top: 1px solid #e2e4e7;
			height: auto;

			.tablenav-pages {
				float: none;
				margin: 0;
			}

			.tablenav-paging-text {
				margin: 0 10px;
			}
		}
	}

	.components-placeholder {
		background: transparent;
	}

	.components-spinner {
		margin: 0 auto;
	}
}

// Block display styles
.block-editor-block-list__layout .block-editor-block-list__block[data-type="altis/reusable-block"] > .block-editor-block-list__block-edit::before {
	border: 1px dashed rgba(145, 151, 162, 0.25);
}

.block-editor-reusable-blocks-inserter {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;

	.block-editor-reusable-blocks-inserter__filter {
		width: 100%;
		flex-shrink: 0;
		display: flex;
		align-items: flex-start;

		.components-base-control {
			max-width: 30rem;
			width: 100%;
			margin-right: 1rem;
			margin-bottom: 16px;

			&__label {
				margin: 0 4px 0 0;
			}

			&__field {
				align-items: center;
				display: flex;
			}

			.components-select-control__input {
				margin: 0 1px;
			}
		}
	}

	.block-editor-block-types-list {
		margin-left: 0;
		padding-left: 0;
	}

	@media ( max-width: 1280px ) {
		.block-editor-block-types-list__list-item {
			width: 50%;
		}
	}

	.block-editor-reusable-blocks-inserter__list,
	.block-editor-reusable-blocks-inserter__preview {
		flex: 1;
		height: 394px;
		max-height: 50vh;
		padding: 1rem;
		width: 100%;
	}

	.block-editor-reusable-blocks-inserter__list {
		overflow-y: scroll;
	}
}

// Hide the reusable blocks category except during search.
.block-editor-inserter__reusable-blocks-panel {
	display: none;

	&.is-opened {
		display: block;
	}
}
