// Relationships list styles
.altis-reusable-block-relationships__relationships_list.components-panel__body {
	&.is-opened {
		padding: 0;
	}

	.components-panel__row {
		margin: 0;
		padding: 10px 16px;
		min-height: 38px;

		&:nth-child(even) {
			background: #f4f4f4;
		}

		&.tablenav {
			background: #fff;
			border-top: 1px solid #e2e4e7;
			height: auto;

			.tablenav-pages {
				float: none;
				margin: 0;
			}

			.tablenav-paging-text {
				margin: 0 10px;
			}
		}
	}

	.components-placeholder {
		background: transparent;
	}

	.components-spinner {
		margin: 0 auto;
	}
}

// Block display styles
.block-editor-block-list__layout {
	.block-editor-block-list__block[data-type="newspress/reusable-block"] {
		> .block-editor-block-list__block-edit::before {
			border: 1px dashed rgba(145, 151, 162, 0.25);
		}
	}
}

.block-editor-reusable-blocks-inserter {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;

	.block-editor-reusable-blocks-inserter__filter {
		align-items: flex-start;
		display: flex;
		flex-shrink: 0;
		width: 100%;

		.components-base-control {
			margin-right: 1rem;
			margin-bottom: 16px;
			max-width: 30rem;
			width: 100%;

			&__label {
				margin-right: 0.3rem;
			}

			.components-text-control__input {
				max-width: 25rem;
			}
		}
	}

	.block-editor-block-types-list {
		margin-left: 0;
		padding-left: 0;
	}

	@media ( max-width: 1280px ) {
		.block-editor-block-types-list__list-item {
			width: 50%;
		}
	}

	.block-editor-reusable-blocks-inserter__list,
	.block-editor-reusable-blocks-inserter__preview {
		flex: 1;
		max-height: 684px;
		overflow: scroll;
		padding: 1rem;
		width: 100%;
	}
}

// Hide the reusable blocks category except during search.
.block-editor-inserter__reusable-blocks-panel {
	display: none;

	&.is-opened {
		display: block;
	}
}
