on:
  create:
    tags:
      - original/v*

name: Create Release

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: 'buildDir'
      - uses: actions/checkout@v2
        with:
          ref: 'gh-build'
          path: 'pushDir'
      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: 'Build and tag new release version'
        run: |
          cd "${GITHUB_WORKSPACE}/buildDir"
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          TAG=$(echo "${GITHUB_REF}" | awk -F/ '{print $NF}')
          VERSION=$(echo "${TAG}" | tr -d original/ | cut -d. -f-3)

          // Install yarn deps and build the project.
          yarn install
          yarn build

          cp -r ./build "${GITHUB_WORKSPACE}/push/build"

          cd "${GITHUB_WORKSPACE}/pushDir"

          // DELETE FILES
          files=( .[!.]* __tests__ src *.js *.ts *.json *.lock _config.yml node_modules tests *.xml.dist )

          for i in "${files[@]}"; do
              if [ $file != '.git' ]
              then
                    rm -fr "$file"
                    echo removed $file
                fi
          done

          REMOTE="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"

          git add ./build

          git commit -m 'Committing build for version ${VERSION}'

          git push --force "${REMOTE}" gh-build

          git tag -a ${VERSION} -m 'Built release for ${VERSION}'

          git push --tags
